@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model goods

@{
    var model = ViewBag.goods;
    <table class="table">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in model)
        {
        
    <form asp-controller="Goods" asp-action="editPrice" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
    <tr>
        
            <td><input asp-for="Name" value="@item.Name" type="hidden">@item.Name</td>
            <td><div class="form-group"><input asp-for="Price" value="@item.Price"><span asp-validation-for="Price" class="text-danger"></span></div></td>
        
            <td><input type="submit" value="save" class="btn btn-success"></td>
        </tr>
        
    </form>
        }
    </table>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
